<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> Demo4</title>
	</head>
	<body>
		<h3>
			Index
		</h3>
		 id <th:block th:text="${session.id}"></th:block>
		<br>
		username <th:block th:text="${session.username}"></th:block>
		<br>
		<th:block th:if="${session.username != null}">
			Welcome <th:block th:text="${session.username}"></th:block> <br>
		</th:block>
		
		<th:block th:if="${session.username == null}">
			 <a th:href="@{/account/login}">Login</a>
		</th:block>
		<br>
		id Language <th:block th:text="${session.language.id}"></th:block>
		Name Language <th:block th:text="${session.language.name}"></th:block>
		<br>
		<ul>
			<li th:each="language : ${languages}"> 
				Language id: <th:block th:text="${language.id}"></th:block>
				<br>
				Language username: <th:block th:text="${language.name}"></th:block>
			</li>
		</ul>
		
		
	</body>
</html>