<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/assets/css/style.css}" rel="stylesheet">
	</head>
	<body>
		
		<h3>Form 1</h3>
		<h3>Register</h3>
		
		<form method="post" th:action="@{/student/register}">
			<table>
				<tr>
					<td>Username</td>
					<td> 
						<input type="text" th:field="${student.username}">
						
					</td>
					<td>
						<th:block th:if="${#fields.hasErrors('student.username')}">
							<ul >
								<li th:each="error : ${#fields.errors('student.username')}"
								 th:text="${error}" class="error"></li>
							</ul>
							
						</th:block>
					</td>
				</tr>
				<tr>
					<td>Password</td>
					<td> 
						<input type="password" th:field="${student.password}">
						
					</td>
					<td>
						<th:block th:if="${#fields.hasErrors('student.password')}">
							<ul >
								<li th:each="error : ${#fields.errors('student.password')}"
								 th:text="${error}" class="error"></li>
							</ul>
							
						</th:block>
					</td>
				</tr>
				</tr>
				<tr>
					<td>Email</td>
					<td> 
						<input type="text" th:field="${student.email}">
						
					</td>
					<td>
						<th:block th:if="${#fields.hasErrors('student.email')}">
							<ul >
								<li th:each="error : ${#fields.errors('student.email')}"
								 th:text="${error}" class="error"></li>
							</ul>
							
						</th:block>
					</td>
				</tr>
				<tr>
					<td>Website</td>
					<td> 
						<input type="text" th:field="${student.website}">
						
					</td>
					<td>
						<th:block th:if="${#fields.hasErrors('student.website')}">
							<ul >
								<li th:each="error : ${#fields.errors('student.website')}"
								 th:text="${error}" class="error"></li>
							</ul>
							
						</th:block>
					</td>
				</tr>
				<tr>
					<td>Age</td>
					<td> 
						<input type="text" th:field="${student.age}">
						
					</td>
					<td>
						<th:block th:if="${#fields.hasErrors('student.age')}">
							<ul >
								<li th:each="error : ${#fields.errors('student.age')}"
								 th:text="${error}" class="error"></li>
							</ul>
							
						</th:block>
					</td>
				</tr>
				<tr>
					<td>&nbsp; </td>
					<td>
						<button type="submit">Save</button>
					</td>
				</tr>
			</table>
		</form>
		 
	</body>
</html>