<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> Demo7</title>
		
	</head>
	
	<body>
		
		<h3>Send Mail</h3>
		<th:block th:text="${msg}"></th:block>
		<form method="post" th:action="@{/demo8/send}">
			<table>
				<tr>
					<td>From</td>
					<td>
						<input type="text" name="from"> 
					</td>
				</tr>
				<tr>
					<td>To</td>
					<td>
						<input type="text" name="to"> 
					</td>
				</tr>
				
				<tr>
					<td>Subject</td>
					<td>
						<input type="text" name="subject"> 
					</td>
				</tr>
				<tr>
					<td align="top">Content</td>
					<td>
						<textarea name="content" cols="20" rows="5"></textarea> 
					</td>
				</tr>
				<tr>
					<td align="top">&nbsp;</td>
					<td>
						<input type="submit" value="send">
					</td>
				</tr>
			</table>
			
		</form>
	</body>
</html>