<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> Demo6</title>
	</head>
	<body>
		<h3>
			Index6
		</h3>
		
		<div th:fragment="fragment1">Fragment 1</div>
		<div th:fragment="fragment3(id,username, status)">
			id:  <th:block th:text="${id}"></th:block> 
			<br>
			username: <th:block th:text="${id}"></th:block> 
			<br>
			status: <th:block th:text="${id}"></th:block> 
			<br>
		</div>
		
		<div th:fragment="fragment4(title, content)">
			Title:  <th:block th:text="${title}"></th:block> 
			<br>
			  <th:block th:text="${content}"></th:block> 
			
			<br>
		</div>
		
		<br>
		<img th:src="@{/assets/images/IMG_0623.JPG}" width="70" height="70"> 
		<img th:src="@{/assets/images/IMG_0623.JPG}" width="70" height="70"> 
		<br>
		<a href="#" class="menu">Menu 1</a>
		<a href="#" class="menu">Menu 2</a>
		<a href="#" class="menu">Menu 3</a>
		<span id="span1"> Span 1</span>
		<br>
		<div th:insert="~{this :: #span1}"></div>
		<br>
		
		<p th:replace="~{this :: #span1}"></p>
		<div th:insert="~{this :: img}"></div>
		<br>
		<th:block th:replace="~{this :: .menu}"></th:block>
		<br> 
		<th:block th:replace="~{demo6/index2 :: h3}" ></th:block>
		<th:block th:replace="~{demo6/index2 :: .photo}" ></th:block>
		<br> 
		<th:block th:replace="~{this :: fragment1}" ></th:block>

		<th:block th:replace="~{demo6/index2 :: fragment2}" ></th:block>
		
		<th:block th:replace="~{this :: fragment3(123,'acc1',true)}" ></th:block>
		
		<div id="mycontent">
			<h3> My Content</h3>
		</div>
        
        <th:block th:replace="~{this :: fragment4('My Title', ~{this :: #mycontent})}" ></th:block>

		
	</body>
</html>