<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> Hello</title>
		<link th:href="@{/assets/css/style.css}" rel="stylesheet">
		<script th:src="@{/assets/js/mylib.js}"></script>
	</head>
	<body>
		<a th:href="@{/demo/index2}"> Menu 1</a> <br> 
		<a th:href="@{/demo/index3/124}">Menu 2</a>
	    <a th:href="@{'/demo/index3/'+ ${id}}">Menu 3</a>
	    <a th:href="@{'/demo/index4/'+ ${id} + '/' + ${username}}">Menu 4</a>
	    <a th:href="@{'/demo/index5?id='+ ${id} + '&username=' + ${username}}">Menu 5</a> 
	    <br>
		id: <span th:text="${id}"></span> <br>
		username: <span th:text="${username}"></span>
		<br>
		id: <th:block th:text="${id}"></th:block>
		<br>
		username: <th:block th:text="${username}"></th:block>
		<br>
		price: <th:block th:text="${price}"></th:block>
		<br>
		quantity: <th:block th:text="${quantity}"></th:block>
		<br>
		status: <th:block th:text="${status ? 'show' : 'hide'}"></th:block>
		<br>
		total: <th:block th:text="${quantity * price}"></th:block>
		<br>
		today: <th:block th:text="${#dates.format(today, 'dd/MM/yyyy HH:mm:ss')}"></th:block>
		<br>
		<img th:src="@{/assets/images/IMG_0623.JPG}" onclick="clickMe()" width="120" height="100">
		<br>
		<img th:src="@{'/assets/images./' + ${photo}}" 
		th:attr="width=${width}, height=${height}">
		<br> 
		<th:block th:if="${quantity < 10 }">
			<span style="color: red;"> Sắp hết hàng</span>	
		</th:block>
		<br> <br>
		<ul>
			<li th:each="name : ${names}" th:text="${name}"></li>
		</ul>
		<br> <br>
		<ul>
			<th:block th:each="name, i : ${names}">
				<li>
					<th:block th:text="${name}"></th:block> - 
					<th:block th:text="${i.index}"></th:block>
					
				</li>
			</th:block>
			
		</ul>
		
		
		
	</body>
</html>